html{
  overflow: auto;
}
.no-border{
  border-radius: 0px !important;
}
.login_img{
  background: url("./../assets/login.png") no-repeat;
  background-color: #e6e6e6;
  background-position: top left;
}
.dash_card{
  background: url("./../assets/bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.bg_admin,.v-main__wrap{
  background-color: rgb(242,245,250) !important;
  //background-color: $grey-3 !important;
}
