html{
  overflow: auto;
}
.no-border{
  border-radius: 0px !important;
}
.login_img{
  background: url("./../assets/login.png") no-repeat;
  background-color: #e6e6e6;
  background-position: top left;
}
.dash_card{
  background: url("./../assets/bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
